/*
 * Copyright 2014 Alere International Ltd
 *
 * Author: Rob Voisey <rob.voisey@alere.com>
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License version 2 as
 * published by the Free Software Foundation.
 *
 */
/dts-v1/;
#include "imx6dl.dtsi"
#include "imx6qdl-fili.dtsi"

/ {
	model = "Alere Fili i.MX6 Dual Lite Board";
	compatible = "alere,fili_dl", "fsl,imx6dl";

	memory {
		reg = <0x10000000 0x40000000>;
	};

    leds {
        compatible = "gpio-leds";

        user@1 {
            label = "User 1";
            gpios = <&gpio7 8 1>;
            linux,default-trigger = "heartbeat";
        };

        user@2 {
            label = "User 2";
            gpios = <&gpio2 7 1>;
            linux,default-trigger = "cpu0";
        };
    };

    buttons {
        compatible = "gpio-keys";
        autorepeat;

        button@1 {
            label = "GPIO Key LEFT";
            linux,code = <105>;
            gpios = <&gpio3 8 1>;
        };

        button@2 {
            label = "GPIO Key DOWN";
            linux,code = <108>;
            gpios = <&gpio4 5 1>;
        };

        button@3 {
            label = "GPIO Key RIGHT";
            linux,code = <106>;
            gpios = <&gpio1 24 1>;
        };

        button@4 {
            label = "GPIO Key UP";
            linux,code = <103>;
            gpios = <&gpio3 12 1>;
        };

        button@5 {
            label = "GPIO Key ENTER";
            linux,code = <28>;
            gpios = <&gpio3 11 1>;
        };
    };
};
